nav {
    padding: 10px;
    text-align: center;

}

footer,li { 
    text-align: center;
    list-style:none;
   	clear: left;  

}

body{
    margin: 20px;

}

h1{
    text-align: center;
}


.box {
    margin: 40px;
}

/*Homepage CSS*/

#images {
    text-align: center;
   
}

/*product display*/

.products {

   margin: 20px;
   padding: 30px;
   max-width: 440px;
   height: 495px;
   float: left;
   border: solid black 1px;
   text-align: center;
    width: 474px;
}

