
nav {
    width: 100%;
    text-align: center;
    padding: 25px;
}
        nav a{
      float: none;
      display: inline-block;
    }

/*product display*/
ul.products li{
    list-style-type: none;
    width: 200px;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    padding: 10px;

}


footer, header {
    padding: 1em;
    clear: left;
    text-align: center;
    display: block;
    text-align: center;
}



	

body {
     
      background-image: url('Image/background/seamless-stone-background.jpg');
    /*background retrieved from: http://tiled-bg.blogspot.com/2014/01/seamless-stone-background.html */
}
    
h1{
    text-align: center;
}




/*Homepage CSS*/

#images {
    text-align: center;
   
}


section {

    text-align: center;
}

  /*nav design*/
  .myButton {
  /*-webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;*/
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #fc8f00;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.myButton:hover {
  background: #f5c711;
  text-decoration: none;
}

.contact{
    
   margin: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 600px;
}
.box {
    width: 500px;
    height: auto;
}
.map{
   
    display: inline;
}
