nav {
    width: 100%;
    text-align: center;
    padding: 25px;
}
        nav a{
     
      display: inline-block;
    }

/*product display*/
ul.products li{
    list-style-type: none;
    width: 200px;
    display: inline-block;
    vertical-align: top;
    padding: 10px;

}


header {
    width:100%;
    height:auto;
    background-color:orange;
}

/*header design*/

.h-left, 
.h-right {
    position:relative;
    color: white;
}
.h-left{
    width: 30%;
    float:left;
}
.h-right{
    text-align:right;
}

/*Homepage CSS*/

#images {
    text-align: center;
   
}


section {

    text-align: center;
    display: inline-block;
}

  /*nav design*/
  .myButton {
 
  font-family: Arial;
  color: white;
  font-size: 20px;
 
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.myButton:hover {
  background: #f5c711;
  text-decoration: none;
}

.contact{
    
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 900px;
}
.box {
    width: 70%;
    margin: 0 auto;
}



footer{
    
    width:100%;
    height:auto;
    background-color:orange;
    text-align: center;
    

}

.footerContent{
    width: 50%;
    height: auto;
    display:inline-block;
}

footer a:link {
    color: white;
 
    
}

footer a:hover{
    text-decoration: underline;
}

/*map*/

#map{
    height:100%;
}

/*literal and validator color design*/
.redColor {
    text-decoration-color: red;
}